body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #495373;
}

h1 {
  margin-bottom: 20px;
  color: #ccc;
}

.filtros {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input, select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #555C73;
  color: #ffffff;
}

button {
  background: #BF9169;
  color: #ccc;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #555C73;
  color: white;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #F2D852;
  color: #fffff; 
}

.exportar {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

input::placeholder {
  color: #cccccc;
}